/* Mobile  device */

@media screen and (max-width:576px) {
    /* Header style  */
    .nav-container{
       flex-direction: column;
    }  
    .nav-img{
        margin:0 auto;
    }  
    .nav-text {
        width:100%;
        margin:0 auto;
        margin-top:20px;
        
    } 
    .nav-text ul{
       flex-direction:column;
       gap:20px;
    }  
    /* banner */
    .banner-container{
        flex-direction:column-reverse;
        margin:30px auto;
    
    } 
    .banner-text{
        width:100%;
        padding:10px;
    } 
    .banner-img{
        width: 100%;
    } 
    
} 

/*         Tablet device    */

@media screen and (min-width:576px) and (max-width:992px){
    /* Header style  */
    .nav-container{
        flex-direction: column;
        gap:25px;
     }  
     .nav-img{
         margin:0 auto;
     }  
     .nav-text {
         width:100%;
         margin:0 auto;
         margin-top:20px;
         
     } 
     /* banner */
     .banner-container{
        flex-direction:column-reverse;
        margin:40px auto;
    
    } 
    .banner-text{
        width:100%;
        padding:20px;
    } 
    .banner-img{
        width: 100%;
    } 
} 