/* Mobile  device */

@media screen and (max-width:576px) {
/* Header style  */
.nav-container{
flex-direction: column;
}  
.nav-img{
margin:0 auto;

}  
.nav-text {
width:100%;
margin:0 auto;
margin-top:20px;

} 
.nav-text ul{
flex-direction:column;
gap:20px;
}  
/* banner */
.banner-container{
flex-direction:column-reverse;
margin:30px auto;

} 
.banner-text{
width:100%;
padding:10px;
} 
.banner-img{
width: 100%;
} 

/*  <!-- Section "We are gamer" start --> */
.gamer-container{
flex-direction: column;
} 
.gamer-img{
width:100%;
} 
.gamer-text{
width:100%;
text-align: center;
padding-left:0;
}
/* card   000 */
.card-container{
grid-template-columns:repeat(1,1fr);
}  
.card{
width:80%;
margin:0 auto;
text-align: center;
} 
/* Another section */
.online-play-section{
flex-direction:column-reverse;
}  

.online-text{
width:100%;
padding:0px;
margin-left:0;
} 

.online-img{
width:100%;
} 

.img-big img{
margin-right:200px;
width:80%;
}
.img-small img{
width:100px;
height:100px;
position: relative;
bottom:50px;
left:250px;
}
}
/*.....................    ......     Tablet device  .......................................  */

@media screen and (min-width:576px) and (max-width:992px){
/* Header style  */
.nav-container{
flex-direction: column;
gap:25px;
}  
.nav-img{
margin:0 auto;
}  
.nav-text {
width:100%;
margin:0 auto;
margin-top:20px;

} 
/* banner */
.banner-container{
flex-direction:column-reverse;
margin:40px auto;

} 
.banner-text{
width:100%;
padding:20px;
} 
.banner-img{
width: 100%;
} 
/*  <!-- Section "We are gamer" start --> */
.gamer-container{
flex-direction: column;
} 
.gamer-img{
width:100%;
} 
.gamer-text{
width:100%;
text-align: center;
padding-left:0;
}
/* card   000 */
.card-container{

grid-template-columns:repeat(2,1fr);
}  
/* Another section  */
.online-play-section{
flex-direction: column;
}  

.online-text{
    width:100%;
    margin-left:0;
} 

.online-img{
    width:100%;
} 

.img-big img{
    width:80%;
}
.img-small img{
width:100px;
height:100px;
position: relative;
bottom:50px;
right:-50;
}
}
